@import "common/variables.less";

.bottom {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: -100px;
    pointer-events: none;
    .animation(hue 60s infinite linear);

    svg {
        fill: #FFF;
        width: 150px;
        position: absolute;
        left: ~"calc(50% - 75px)";
        right: 0;
        bottom: 0;
        top: ~"calc(50% - 90px)";
    }


}
