@import "common/variables.less";

.player {

  #play, #forward {
        font-size: 6em;
        text-align: center;
.fa{
  text-align: center;
}
  }
  #play {

  }

}

#player {
  visibility: hidden;
}

#time {
 color: white;
text-align:center;
font-size: 4em;
}

#qr-code {
  clear:both;
  margin-left:~"calc(50% - 128px)";
}

.reset {
  position: absolute;
  bottom: 10px;
  left: 10px;
  .transition;
  fill: currentColor;
  .animation(hue 60s infinite linear);
  cursor: pointer;
  svg {
    width: 44px;
    margin-bottom: -13px;
  }
  span {
    opacity: 0;
    padding-left: 10px;
    .transition;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}
