@import "common/variables.less";
.add-song-title {
  padding-top: 0.5em;
}

#addSong.circle-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.songs-list {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  .song {
    list-style: none;
    width: 90%;
    height: 44px;
    margin-left: 5%;
    background: #FFF;
    color: @darkDarkgray;
    margin-bottom: 0.5em;


    img {
      -webkit-filter: none;
      filter: none;
      float: left;
      height: 44px;
    }
    .container {

      vertical-align: middle;
      width: 100%;
      height: 44px;
      p {
width:auto;
        font-size: 9px;
        margin: 0;
        padding-left: 10px;
        overflow:hidden;
       text-overflow: ellipsis;
	white-space: nowrap;
      }
      .songVotes{
        width:60px;
        height:44px;
        display: block;
        float: right;

        .upvoted {
          display: block;
          height: 44px;
          width: 30px;
          z-index: 10;
          background: @success-color;
          float: left;
          padding: 5px;
        }
        .downvoted {
          display: block;
          height: 44px;
          width: 30px;
          z-index: 10;
          background: @success-color;
          float:right;
          padding: 5px;
        }

        .downvoted {
          background: @error-color;
        }
      }
    }

    .votes {
      height: 7px;
      position: relative;
    }


  }
}
