<template name="client">
  <div class="wrapper">
    <ul class="songs-list">
      {{#each songs}}
        {{> song}}
      {{else}}
        <li class="song"><div class="container"><p>{{_ "There is no songs yet ! Add one !"}}"</p></div></li>
      {{/each}}
    </ul>
  </div>
  <button id="addSong" class="circle-button"><i class="fa fa-plus fa-2"></i></button>
</template>

<template name="song">
	<li class="song">
      <img src="{{thumbnail}}" />
      <div class="container"><p>{{title}}</p>
        <div class="songVotes">
          <a href="#" class="upvoted" id="{{_id}}"><i class="fa fa-thumbs-o-up"></i></a>
        <a href="#" class="downvoted" id="{{_id}}"><i class="fa fa-thumbs-o-down"></i></a>
      </div>
</div>
      <div class="votes" style="width:{{width}}%;left:{{left}}%;background-color:{{color}}"></div>
	</li>
</template>
