<template name="home">
  <div class="home">
    <header>
      <h1>{{_ "Welcome to DJ Hack"}}</h1>
      <div class="cta">
        <div class="bottom">
        </div>
        <div class="cta-first">
          <button class="create button">{{_ "Create a party"}}</button>
        </div>
        <div class="cta-first">
          <button class="scanner button">{{_ "QR code scanner"}}</button>
        </div>
        <form id="join" class="cta-second">
          <input type="text" id="partyName" placeholder="{{_ "Or join an existing one"}}" />
          <input type="submit" class="hide" />
        </form>


      </div>
      <div class="scroll-indicator">
      </div>
    </header>
    <div class="content">
      <div class="bs">
        <h1>DJ 2.0</h1>
      </div>
      <div class="feature">
        <div class="image"></div>
        <div class="text">{{_ "Plug your device to a sound system Create a Party"}}</div>
      </div>
      <div class="feature">
        <div class="image"></div>
        <div class="text">{{_ "Everyone flash the QR code of the party add upvote songs"}}</div>
      </div>
      <div class="feature">
        <div class="image"></div>
        <div class="text">{{_ "Listen to the music"}}</div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
