<template name="server">
  <h1>{{name}}</h1>


{{> YTPlayer name="player"}}
  {{#if currentSong}}
  <div class="songs-list">
    <div class="song">
      <img src="{{currentSong.thumbnail}}" />
      <div class="container"><p>{{currentSong.title}}</p></div>
    </div>
  </div>
  <div id="time">{{time}}</div>
  {{/if}}
  <div class="player">

    <div id="play">
      {{#if play}}
<i class="fa fa-stop fa-4"></i>
      {{else}}
<i class="fa fa-play fa-4"></i>
      {{/if}}
    </div>

    <div id="forward">
<i class="fa fa-forward fa-4"></i>
    </div>
    <div class="clearfix"></div>
  </div>

  <div id="qr-code"></div>
  <div class="reset"><span>{{_ "Reset the songs of this party"}}</span></div>
  <!--//2 buttons (play + pause)
  //Slider sound
  //Slider track fast-forward and rewind
  -->
</template>
